<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width" name="viewport">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ url_for('favicon') }}" sizes="48x48"/>
    <style type=text/css>{{ get_resource_as_string('app_css.css') | safe }}</style>
    <title>Epubfy - {{ _('Convert any blog article.') }}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center form-title">
				{{ _('Convert <b>any</b> blog article.') }}
            </h1>
            <h2 class="text-center sub-title">
				{{ ngettext('<b>%(num)d</b> ebook has been created.',
				'<b>%(num)d</b> ebooks have been created.',
							__num=n_articles) }}
            </h2>
            <div class="account-wall">
                <form method="post" class="form-url" role="form" action="{{ url_for('create') }}">
                    <input type="text" name="url" class="form-control" placeholder="{{ _("Article URL...") }}"
                            required autofocus>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for type, message in messages %}
                                <div class="alert alert-{{ type }}" role="alert">
                                    {% if type in ['danger','warning'] %}
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
										<span class="sr-only">{{ _('Error') }}:</span>
                                    {% elif type == 'success' %}
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
										<span class="sr-only">{{ _('Success') }}:</span>
                                    {% endif %}
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
						<i aria-hidden="true"></i> {{ _('Create Epub') }}
                    </button>
                </form>
            </div>
            <div class="table-responsive results">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            <i class="fa fa-arrow-down"></i>
                        </th>
                        <th>
							{{ _('Article Name') }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>
                              {% if article.files %}
                                <a href="{{ url_for('get_ebook',
                                                    ebook_type=article.files[0].type,
                                                    filename=article.files[0].filename) }}">
                                    <i class="fa fa-download"></i>
                                </a>
                              {% endif %}
                            </td>
                            <td>{{ article.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <footer class="text-center">
              <div class="lang">
                <a target="_self" href="{{ url_for('index', lang_code='en') }}">English</a> |
                <a target="_self" href="{{ url_for('index', lang_code='pt') }}">Português</a>
              </div>
				{{ _('created by') }}
                <a target="_blank" href="http://fmorato.com/">
                    Felipe Morato
                </a>
            </footer>
        </div>
    </div>
</div>
</body>
</html>
