@import "bootstrap";

@import "fontello";
@import "../font/fontello-codes.css";

.results {
    margin: 2em auto 2em;
    max-width: 800px;
}

.form-url {
    padding: 15px;
    .checkbox {
        font-weight: normal;
    }
    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
    }
    .form-control:focus {
        z-index: 2;
    }
}
.form-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-top: 6em;
}
.sub-title {
    color: #555;
    font-size: 15px;
    font-weight: 400;
    display: block;
    margin-top: 2em;
}

.account-wall {
    max-width: 400px;
    margin: 20px auto 0;
    padding: 40px 0 20px 0;
    background-color: #f7f7f7;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}
button {
    margin-top: 2em;
}
footer {
    margin-top: 1em;
}
